@model IEnumerable<SellerViewModel>
@{
    Layout = "_LayoutOfAdmin";
    ViewData["Title"] = "View state";
}
<div class="container">
    <h1>List of Seller to get Payed </h1>


    <table class="table table-hover border">
        <thead style="background-color:aqua">
            <tr>
                <th scope="col">Seller Id</th>
                <th scope="col">User Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Sex</th>
                <th scope="col">Nationality</th>
                <th scope="col">Address</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seller in Model)
            {
                <tr>
                    <th scope="row">@seller.seller.Seller_ID</th>
                    <td>@seller.user.Name</td>
                    <td>@seller.seller.Users.PhoneNumber</td>
                    <td>@seller.user.Sex</td>
                    <td>@seller.user.Nationality</td>
                    <td>@seller.seller.Address</td>
                    <td>@seller.seller.Balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>
